.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

.hrArea {
  x: 0%;
  y: 0%;
  height: 10%;
  width: 10%;
}

.scoreArea {
  x: 52%;
  y: 0%;
  height: 5%;
  width: 5%;
}

#score {
  fill: white;
  text-length: 5;
  font-family: System-Regular;
  text-anchor: middle;
}