.background {
  viewport-fill: black;
}

.clock {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 8%;
  y: 50%;
  fill: white;
  height: 64;
  width: 64;
}

.ampm {
  x: 8%;
  y: 73%;
  visibility: hidden;
}

#hrArea {
  x: 0%;
  y: 0%;
}

.heart {
  height: 32;
  width: 32;
  visibility: hidden;
}

#stageArea {
  x: 53%;
  y: 0%;
}

#scoreArea {
  x: 53%;
  y: 0%;
}

.font-small {
  height: 16;
  width: 16;
}

.font-mid {
  height: 32;
  width: 32;
}
